In [1]:
mystring = 'HELLO'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['H', 'E', 'L', 'L', 'O']

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['H', 'E', 'L', 'L', 'O']

In [6]:
mylist1 = [x for x in 'World']

In [8]:
mylist1

['W', 'o', 'r', 'l', 'd']

In [9]:
mylist2 = [x for x in range(0,11)]

In [10]:
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
mylist3 = [num**2 for num in range(0,11)]

In [2]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
cel = [0,10,20,3.5,50]

fah = [((9/5)*temp) + 32 for temp in cel]

In [4]:
fah

[32.0, 50.0, 68.0, 38.3, 122.0]

In [5]:
result = [x if x % 2 == 0 else 'Odd' for x in range (0,11)]

In [6]:
result

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [8]:
mylist = []

for x in [2,4,6]:
    for y in [10,100,1000]:
        mylist.append(x*y)

In [9]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]

In [10]:
mylist =[x*y for x in [2,4,6] for y in [10,100,1000]]

In [11]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]